<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.evanpurkhiser</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>morningroutine</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Morning photos are captured automatically as part of your routine.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Captured photos are saved into your morning routine albums.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
